CONTAINER_ENGINE=docker
CONTAINER_PROJECT_NAME=getgather
CONTAINER_SUBNET_PREFIX=172.16.0
TS_AUTHKEY=

HOST_DATA_DIR=

GATEWAY_ORIGIN=http://localhost:9000
OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GOOGLE_CLIENT_SECRET=

# Optional variables below
ENVIRONMENT=
ADMIN_API_TOKEN=
LOG_LEVEL=DEBUG
BROWSER_HTTP_PROXY=
BROWSER_HTTP_PROXY_PASSWORD=
GATEWAY_SENTRY_DSN=
CONTAINER_SENTRY_DSN=
SEGMENT_WRITE_KEY=
