DOCKER_PROJECT_NAME=getgather
DOCKER_NETWORK_NAME=internal-net # keep this consistent with docker-compose.yml
DOCKER_SUBNET_PREFIX=172.16.0
DOCKER_DOMAIN=docker
TS_AUTHKEY=

SERVER_IMAGE=ghcr.io/mcp-getgather/mcp-getgather # or mcp-getgather if built locally
HOST_DATA_DIR=

GATEWAY_ORIGIN=http://localhost:9000
OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GOOGLE_CLIENT_SECRET=

# Optional variables below
ENVIRONMENT=
ADMIN_API_TOKEN=
LOG_LEVEL=DEBUG
BROWSER_HTTP_PROXY=
BROWSER_HTTP_PROXY_PASSWORD=
GATEWAY_SENTRY_DSN=
SERVER_SENTRY_DSN=
OPENAI_API_KEY=