CONTAINER_ENGINE=docker
CONTAINER_PROJECT_NAME=getgather
CONTAINER_SUBNET_PREFIX=172.20.0
TS_AUTHKEY=

DATA_DIR=

GATEWAY_ORIGIN=http://localhost:9000
OAUTH_GITHUB_CLIENT_ID=
OAUTH_GITHUB_CLIENT_SECRET=
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GOOGLE_CLIENT_SECRET=
GETGATHER_APPS='{"app-key":"app-name"}'

# Optional variables below
ENVIRONMENT=
ADMIN_API_TOKEN=
LOG_LEVEL=DEBUG
BROWSER_HTTP_PROXY=
BROWSER_HTTP_PROXY_PASSWORD=
GATEWAY_SENTRY_DSN=
CONTAINER_SENTRY_DSN=
SEGMENT_WRITE_KEY=


DEFAULT_PROXY_TYPE=proxy-3

PROXIES_CONFIG='[proxy-0]
name = "none"

[proxy-1]
name = "A_proxy"
url_template = "http://customer-A:pass@proxy.com"

[proxy-2]
name = "B_proxy"
url_template = "http://customer-B:pass@proxy.com:1234"

[proxy-3]
name = "C_proxy"
url_template = "http://customer-C:pass@proxy.com:23456"
'