{% extends "template.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
  <h1>Our approach to data ownership is simple: what’s yours stays yours.</h1>
  <p>
    Get Gather is built on the principles of data ownership. We believe that if every individual had
    true access to view, move, and use their own data, magical things could happen.
  </p>
  <ul>
    <li>Do you recall how useful it was when X announced its Y integration?</li>
    <li>
      Or how serendipitous it feels when Instagram recommends the perfect set of glasses to you from
      a new up-and-coming brand?
    </li>
    <li>
      Remember how delighted you were by Spotify Wrapped and learning just how much of your lifetime
      you have spent listening to Taylor?
    </li>
  </ul>
  <p>
    <strong>
      We fiercely believe you can have all of those experiences without “giving up” your data.
    </strong>
  </p>
  <p>
    That’s why, since the moment we were founded, we have made three promises to you in regards to
    the data you connect to Get Gather (e.g., your Amazon purchase history or Goodreads reading
    list).
  </p>
  <ol>
    <li>
      We will never sell your data, unless you explicitly choose to share or monetize it yourself.
    </li>
    <li>We will never train our AI & ML models on your data</li>
    <li>We will never look at your data (unless you ask us to for trouble-shooting purposes!)</li>
  </ol>
  <p>
    Below is our full Privacy Policy that outlines how we store and secure all of the types of data
    and information we collect.
  </p>
  <p>
    If you have any questions at all, please reach out! We love nerding out about this stuff. You
    can reach us at
    <a href="mailto:support@GetGather.com" class="contrast">support@GetGather.com</a>
  </p>

  <h1>Privacy Policy</h1>
  <p>Updated: October 9, 2025</p>
  <p>
    Get Gather (“we”, “us”, “our”) is committing to respecting and protecting your data. We will
    never sell your data and do not sell ads based on your data, unless you explicitly choose to
    share or monetize it yourself.
  </p>
  <p>
    When you use our MCP servers and applications (“our products”), we will collect some of your
    data in order to provide you services. In the following privacy policy, we will outline the
    different types of data we collect, how we use it, and what rights you have to access and delete
    it.
  </p>
  <p>
    By using our products, you agree to the terms outlined in this Privacy Policy. If you no longer
    agree with our Privacy Policy, you can discontinue using our products and delete your data (more
    information about how to do so below).
  </p>
  <h3>Types of Personal Data We Handle</h3>
  <p>
    <strong>Raw Data:</strong> The data from external apps and websites that you import into our
    products. For example, your Amazon purchase history and Goodreads reading list. We collect and
    process this information only when you grant us permission to do so. It is not a requirement for
    using our products.
  </p>
  <p>
    <strong>Usage Data:</strong> The data The data that is automatically generated when you use our
    products. This category includes interaction you make with the application, e.g., connect to
    Amazon, fetch Amazon purchase history, as well as system-generated data such as anonymous user
    id. We collect and process this information automatically when you use our products. If you do
    not wish for your usage data to be collected, please stop using our products.
  </p>
  <p>
    <strong>Account Data:</strong> The personal data Get Gather collects and stores to create your
    unique account. Today users create accounts via Google or GitHub OAuth. Through this process we
    collect your email address along with basic profile information that is already associated with
    your Google or GitHub account and you choose to share. We collect and process this information
    automatically when you create an account. It is a requirement in order to use our products.
  </p>

  <h3>Using Your Data</h3>
  <p>
    Your Raw Data is used by automated systems to provide you the specific services you request via
    our products.
  </p>
  <p>
    We systematically and manually analyze your Usage Data to improve the quality of our products
    and ensure we are delivering the best possible experience. If we manually analyze your Usage
    Data, we first de-identify it to maintain user privacy.
  </p>
  <p>
    Your Account Data is used to manage your account, facilitate communication, and personalize your
    experience.
  </p>
  <h3>Retention of Your Data</h3>
  <p>
    We will retain your data for as long as you have an account with us or until you request Data We
    will retain your data for as long as you have an account with us or until you request it be
    deleted. In addition, we will retain and use your data to the extent necessary to comply with
    our legal obligations (for example, if we are required to retain your data to comply with
    applicable laws), resolve disputes, and enforce our legal agreements and policies.
  </p>
  <p>
    By default, we will retain Usage Data even when an account has been deleted, but you may request
    to delete your usage data, along with your raw data, location data, and account data, to be
    deleted at any time (see section below).
  </p>
  <h3>Processing of your Data</h3>
  <p>
    Your data is processed at our operating offices in Palo Alto and in any other places where the
    parties involved in the processing are located. It means that this information may be
    transferred to — and maintained on — computers located outside of your state, province, country
    or other governmental jurisdiction where the data protection laws may differ from those from
    your jurisdiction. Your consent to this Privacy Policy followed by your submission of such
    information represents your agreement to that transfer.
  </p>
  <p>
    We will take all steps reasonably necessary to ensure that your data is treated that transfer.
    We will take all steps reasonably necessary to ensure that your data is treated securely and in
    accordance with this Privacy Policy and no transfer of your Personal Data will take place to an
    organization or a country unless there are adequate controls in place including the security of
    your data and other personal information.
  </p>
  <h3>Disclosing Your Data</h3>
  <p>We do not disclose the data we collect from or about you except as described below:</p>
  <ol>
    <li>
      <p>
        When you invoke our products from a third-party application, such as OpenAI ChatGPT, we will
        share a relevant portion of your Raw Data if and only if it’s required to complete your
        request. For example, if you ask in OpenAI ChatGPT “what was the brand of pillow I bought
        last year?” then we might send the names of the products you purchased related to pillows to
        OpenAI ChatGPT.
      </p>
      <p>
        OpenAI has stated in
        <a href="https://openai.com/enterprise-privacy/" target="_blank" class="contrast"
          >their privacy policy</a
        >
        that they will not train their model on any data we submit through their API.
      </p>
    </li>
    <li>
      <p>
        When you request services from our products that require a third-party application, we will
        share a relevant portion of your Raw Data if and only if it’s required to complete your
        request. For example, if you ask for a data portrait generated based on your reading list
        from Goodreads, then we might send the names of the books to OpenAI’s API or other model
        providers.
      </p>
      <p>
        OpenAI has stated in
        <a href="https://openai.com/enterprise-privacy/" target="_blank" class="contrast"
          >their privacy policy</a
        >
        that they will not train their model on any data we submit through their API.
      </p>
    </li>
    <li>
      We share your Usage Data and Account Data with analytics providers so that we can improve our
      products. We currently use several analytics providers, including, but not limited to, Segment
      and Metabase.
    </li>
    <li>
      If one of the following situations occur, we may need to disclose portions of your data:
      <ol>
        <li>
          <strong>Business Transactions:</strong> If our company is involved in a merger,
          acquisition or asset sale, your data may be transferred. We will provide notice before
          your data is transferred and becomes subject to a different Privacy Policy.
        </li>
        <li>
          <strong>Law enforcement:</strong> Under certain circumstances, we may be required to
          disclose your data if required to do so by law or in response to valid requests by public
          authorities (e.g. a court or a government agency).
        </li>
      </ol>
    </li>
  </ol>
  <h3>Information Specific to Your Google Data</h3>
  <p>
    When you sign in to Google, we will use your Google email for account creation purposes. Our use
    and transfer to any other app of information received from Google APIs will adhere to
    <a
      href="https://developers.google.com/terms/api-services-user-data-policy"
      target="_blank"
      class="contrast"
    >
      Google API Services User Data Policy</a
    >, including the Limited Use requirements.
  </p>
  <h3>Deleting Your Data</h3>
  <p>
    You may also contact us at
    <a href="mailto:support@GetGather.com" class="contrast">support@GetGather.com</a> to delete or
    request access to any or all of the data we have associated with your account.
  </p>
  <h3>Questions about your Data</h3>
  <p>
    If you have any questions about this Privacy Policy or how your data is handled, you can contact
    us by email:
    <a href="mailto:support@GetGather.com" class="contrast">support@GetGather.com</a>
  </p>
{% endblock %}
