name: Unit Tests

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  unit-tests:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        uses: ./.github/actions/prepare-dev

      - name: Run unit tests
        run: uv run pytest -s -o env=ENV_FILE=
        env:
          GATEWAY_ORIGIN: http://localhost:9000
          DOCKER_PROJECT_NAME: getgather-ci
          DOCKER_SUBNET_PREFIX: 172.24.0
          HOST_DATA_DIR: ./data
